<html>

{% load static %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
	<script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'semantic/semantic.min.js' %}"></script>
	<title> Cek status</title>

</head>

<body>
	<div class="ui  container">
		<div class="ui  secondary pointing menu">
			<div class="header item">
				<h2>SIPerpus</h2>
			</div>
			<a class="item" href="/">
                    Home
                    </a>
			<a class="item" href="/cek_status">
                    Cek Status
                    </a>
			<a class="item" href="/tambah_data">
                    Tambah Syarat
                    </a>
			<a class="item" href="/Peminjaman">
                    Peminjaman Buku
                    </a>
			<a class="item" href="/rekap_data">
                        Rekap Data
                    </a>
			<a class="active item">
                        Import CSV
                    </a>
		</div>
	</div>

	


	<div class="ui center aligned text container" style="padding:5%">
		<div class="ui center aligned container">
			<div class="ui large  buttons">
			  <button class="ui button skripsi_btn" onclick="skripsi()">Import</button>
			  <div class="or"></div>
			  <button class="ui button tesis_btn" onclick="tesis()">Export</button>
			</div>
		</div>

		<div class="import_div"> 
			<h1 class="ui center aligned header" style="padding:6%">Import CSV</h1>

			<form class="ui form" method="POST" action="{% url 'polls:import_csv_process' %}" enctype='multipart/form-data'>
				{% csrf_token %}
				<div class="field">
					<label>Skripsi</label>
				</div>
				<div class="inline field">
					<input type="hidden" name="tipe" value="skripsi">
					<input type="file" name="file_doc" required>
					<button class="ui teal button" type="submit">Submit</button>
				</div>
			</form>

			<form class="ui form" method="POST" action="{% url 'polls:import_csv_process' %}" enctype='multipart/form-data'>
				{% csrf_token %}
				<div class="field">
					<label>Tesis</label>
				</div>
				<div class="inline field">
					<input type="hidden" name="tipe" value="tesis">
					<input type="file" name="file_doc" required>
					<button class="ui teal button" type="submit">Submit</button>
				</div>
			</form>


			<form class="ui form" method="POST" action="{% url 'polls:import_csv_process' %}" enctype='multipart/form-data'>
				{% csrf_token %}
				<div class="field">
					<label>Peminjaman</label>
				</div>
				<div class="inline field">
					<input type="hidden" name="tipe" value="peminjaman">
					<input type="file" name="file_doc" required>
					<button class="ui teal button" type="submit">Submit</button>
				</div>
			</form>

			<form class="ui form" method="POST" action="{% url 'polls:import_csv_process' %}" enctype='multipart/form-data'>
				{% csrf_token %}
				<div class="field">
					<label>Buku Sumbangan</label>
				</div>
				<div class="inline field">
					<input type="hidden" name="tipe" value="buku_sumbangan">
					<input type="file" name="file_doc" required>
					<button class="ui teal button" type="submit">Submit</button>
				</div>
			</form>

	
		</div>

		<div class="export_div" >

			<h1 class="ui center aligned header" style="padding:6%">Export CSV</h1>
			<div class="field" style="padding-left:15%;padding-right:15%;padding-bottom:5%">
				<button class="ui fluid labeled icon button" onclick="location.href='/import_csv/get?tipe=polls_Skripsi'"">
				  <i class="download icon"></i>Skripsi</button>
				  
			</div>
			<div class="field" style="padding-left:15%;padding-right:15%;padding-bottom:5%">
				<button class="ui fluid labeled icon button" onclick="location.href='/import_csv/get?tipe=polls_Tesis'"">
				<i class="download icon"></i>Tesis</button>
			</div>
			
			<div class="field" style="padding-left:15%;padding-right:15%;padding-bottom:5%">
				<button class="ui fluid labeled icon button" onclick="location.href='/import_csv/get?tipe=polls_Peminjaman'">
				<i class="download icon"></i>Peminjaman</button>
			</div>
			<div class="field" style="padding-left:15%;padding-right:15%;padding-bottom:5%"> 
				<button class="ui fluid labeled icon button" onclick="location.href='/import_csv/get?tipe=polls_BukuS'"">
				<i class="download icon"></i>Buku Sumbangan</button>
			</div>
		</div>

	</div>

	<script type="text/javascript">
		skripsi();
		$(".skripsi_btn").toggleClass('positive');

		$('.ui.checkbox')
			.checkbox();
		$('select.dropdown')
			.dropdown();
		$('.ui.accordion')
			.accordion();
		$('.ui.form')
			.form({
				fields: {
					name: {
						identifier: 'nim',
						rules: [{
							type: 'regExp[^[a-kA-K][0-9]+$]',
							prompt: 'format NIM tidak valid'
						}]
					},

				}
			});
		$('#example2').calendar({
			type: 'date'
		});

		function tesis(){
			$(".import_div").hide();
			$(".export_div").show();
			if($(".skripsi_btn").hasClass('positive')){
			    $(".tesis_btn").toggleClass('positive');
			    $(".skripsi_btn").toggleClass('positive');
			}		
		}
		function skripsi(){
			$(".import_div").show();
			$(".export_div").hide();
		    $(".skripsi_btn").toggleClass('positive');
		    $(".tesis_btn").toggleClass('positive');	
			if($(".tesis_btn").hasClass('positive')){
			    $(".tesis_btn").toggleClass('positive');
			    $(".skripsi_btn").toggleClass('positive');
			}		
		}
	</script>
</body>


</html>