<html>

{% load static %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
  <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'semantic/semantic.min.js' %}"></script>
  <title>Rekap Data</title>

</head>

<body>
  <div class="ui  container">
    <div class="ui  secondary pointing menu">
      <div class="header item">
        <h2>SIPerpus</h2>
      </div>
      <a class="item" href="/">
                    Home
                    </a>
      <a class="item" href="/cek_status">
                    Cek Status
                    </a>
      <a class="item" href="/tambah_data">
                    Tambah Syarat
                    </a>
      <a class="item" href="/Peminjaman">
                    Peminjaman Buku
                    </a>
      <a class="active item">
                    Rekap Data
                    </a>
      <a class="item" href="/import_csv">
                    Import CSV
                    </a>
    </div>
  </div>

  <h1 class="ui center aligned header" style="padding:2%">Rekap Data</h1>

  <div class="ui center aligned text container">
  <button>Rekap Peminjaman Buku</button>
  <button>Rekap Penyerahan skripsi/tesis</button>
  
    <!-- 
    <h3>Tampilkan Berdasarkan:</h3>
    <button class="ui pink button">Bulan</button>
    <button class="ui pink button">Tanggal</button>
     -->
    <table class="ui striped table">
  <thead>
    <tr>
      <th>NIM</th>
      <th>Nama</th>
      <th>Skripsi</th>
      <th>Abstrak</th>
      <th>CD</th>
      <th>Buku Sumabgan</th>
      <th>Tanggal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>G64150099</td>
      <td>John Lilki</td>
      <td>ya</td>
      <td>ya</td>
      <td>ya</td>
      <td>ya</td>
      <td>1 / 1 / 2017</td>
    </tr>
    <tr>
      <td>G64150019</td>
      <td>Jamie Harington</td>
      <td>ya</td>
      <td>ya</td>
      <td class="negative">tidak</td>
      <td>ya</td>
      <td>12/ 2 / 2017</td>
    </tr>
  </tbody>
</table> 


  </div>


</body>


</html>