<html>

{% load static %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tables/dataTables.semanticui.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tables/jquery.dataTables.min.css' %}"> 
  <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'semantic/semantic.min.js' %}"></script>
  <script src="{% static 'tables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'tables/dataTables.semanticui.min.js' %}"></script>
  

  

  <title>Rekap Data</title>



</head>


<body>
  <div class="ui  container">
    <div class="ui  secondary pointing menu">
      <div class="header item">
        <h2>SIPerpus</h2>
      </div>
      <a class="item" href="/">
                    Home
                    </a>
      <a class="item" href="/cek_status">
                    Cek Status
                    </a>
      <a class="item" href="/tambah_data">
                    Tambah Syarat
                    </a>
      <a class="item" href="/Peminjaman">
                    Peminjaman Buku
                    </a>
      <a class="active item">
                    Rekap Data
                    </a>
      <a class="item" href="/import_csv">
                    Import CSV
                    </a>
    </div>
  </div>

  <h1 class="ui center aligned header" style="padding:2%">Rekap Data</h1>

  <div class="ui center aligned text container">
   
    <div style="padding-bottom:4%">
      <button class="ui button" onclick="location.href='/rekap_data'"">Rekap Peminjaman Buku</button>
      <button class="ui button" onclick="location.href='/rekap_data_skripsi'"">Rekap skripsi</button>
      <button class="ui button disabled">Rekap tesis</button>
    </div>
    <table id="rekap" class="ui celled table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>NIM</th>
          <th>Nama</th>
          <th>ps</th>
          <th>JUDUL_IND</th>
          <th>JUDUL_ENG</th>
          <th>pembinbing</th>
          <th>penguji</th>
          <th>Tanggal lulus</th>
          <th>Tanggal penyerahan</th>
        </tr>
      </thead>
      <tbody>
        {% for p in rekap_tesis %}
        <tr>
          <td>{{p.NIM}}</td>
          <td>{{p.nama_penulis}}</td>
          <td>{{p.ps}}</td>
          <td>{{p.judul_IND}}</td>
          <td>{{p.judul_ENG}}</td>
          <td>{{p.pembimbing}}</td>
          <td>{{p.penguji}}</td>
          <td>{{p.tanggal_lulus}}</td>
          <td>{{p.tanggal_penyerahan}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>


  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#rekap').DataTable();
  } );
  </script>

</body>


</html>