<html>

{% load static %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tables/dataTables.semanticui.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tables/jquery.dataTables.min.css' %}">
  <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'semantic/semantic.min.js' %}"></script>
  <script src="{% static 'tables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'tables/dataTables.semanticui.min.js' %}"></script>




  <title>Rekap Data</title>



</head>


<body>
  <div class="ui  container">
    <div class="ui  secondary pointing menu">
      <div class="header item">
        <h2>SIPerpus</h2>
      </div>
      <a class="item" href="/">
                    Home
                    </a>
      <a class="item" href="/cek_status">
                    Cek Status
                    </a>
      <a class="item" href="/tambah_data">
                    Tambah Syarat
                    </a>
      <a class="item" href="/Peminjaman">
                    Peminjaman Buku
                    </a>
      <a class="active item">
                    Rekap Data
                    </a>
      <a class="item" href="/import_csv">
                    Import CSV
                    </a>
      <a class="item" href="/logout">
                        Logout
                    </a>
    </div>
  </div>

  {% if messages %}
  <div class="ui floating message">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </div>
  {% endif %}

  <h1 class="ui center aligned header" style="padding:2%">Rekap Data</h1>

  <div class="ui center aligned container" style="padding-bottom:4%">
    <button class="ui disabled button">Rekap Peminjaman Buku</button>
    <button class="ui button" onclick="location.href='/rekap_data_skripsi'">Rekap skripsi</button>
    <button class="ui button" onclick="location.href='/rekap_data_tesis'">Rekap tesis</button>
  </div>

  <div style="padding:2%">

    <table id="rekap" class="ui celled table " cellspacing="0 " width="100% ">
      <thead>
        <tr>
          <th>NIM</th>
          <th>Nama</th>
          <th>Judul Buku</th>
          <th>Nomor Hp</th>
          <th>Barcode</th>
          <th>Tanggal Pinjam</th>
          <th>Tanggal Kembali Seharusnya</th>
          <th>Tanggal Kembali Asli</th>
          <th>Status Pengembalian</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for p in rekap_pinjaman %}
        <tr>
          <td>{{p.NIM.upper}}</td>
          <td>{{p.nama}}</td>
          <td>{{p.judul}}</td>
          <td>{{p.phone}}</td>
          <td>{{p.barcode}}</td>
          <td>{{p.tanggal_pinjam.date}}</td>
          <td>{{p.tanggal_kembali.date}}</td>
          <td>{{p.tanggal_kembali_riil.date}}</td>
          {% if p.status == 0 %}
          <td>Belum Dikembalikan</td>
          <td>
            <form method="POST" action="{% url 'polls:rekap_data_simpan' id=p.id %}">
              {% csrf_token %}
              <button class="ui button" type="submit">tandai sudah mengembalikan</button>
            </form>
          </td>
          {% else %}
          <td>Sudah Dikembalikan</td>
          <td>
            <form method="POST" action="{% url 'polls:rekap_data_simpan' id=p.id %}">
              {% csrf_token %}
              <button class="ui button" type="submit">tandai belum mengembalikan</button>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %}

      </tbody>
    </table>


  </div>

  <script type="text/javascript ">
    $(document).ready(function() {
      $('#rekap').DataTable();
    });
  </script>

</body>


</html>