<html>
	
	{% load static %}
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
            <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
            <script src="{% static 'semantic/semantic.min.js' %}"></script>
            <title> Cek status</title>
    
        </head>
            
        <body>
            <div class="ui  container">
                <div class="ui  secondary pointing menu">
                    <div class="header item">
                        <h2>SIPerpus</h2>
                    </div>
                    <a class="item" href="/">
                    Home
                    </a>
                    <a class="item" href="/cek_status">
                    Cek Status
                    </a>
                    <a class="active item">
                    Tambah Skripsi
                    </a>
                    <a class="item" href="/rekap_data">
                        Rekap Data
                    </a>
                    <a class="item" href="/import_csv">
                        Import CSV
                    </a>
                </div>
                </div>

				<h1 class="ui Left aligned header" style="padding-top:6%">Skripsi</h1>

                <form class="ui form">
					
				  <div class="field">
					<label>Judul(Indonesia)</label>
					<input type="text" name="IND" placeholder="IND">
				  </div>
				  <div class="field">
					<label>Judul(English)</label>
					<input type="text" name="ENG" placeholder="ENG">
				  </div>
				  <div class="field">
					<label>Nama</label>
					<input type="text" name="nama" placeholder="ENG">
				  </div>
				  <div class="field">
					<label>NIM</label>
					<input type="text" name="nim" placeholder="ENG">
				  </div>
				  <div class="field">
					<label>Pembimbing</label>
					<input type="text" name="pembimbing" placeholder="ENG">
				  </div>
				  <div class="field">
					<label>Penguji</label>
					<input type="text" name="penguji" placeholder="ENG">
				  </div>
				  <div class="field">
					<label>Tanggal Penyerahan</label>
					<input type="date" name="tanggal" placeholder="Bulan/Hari/Tahun">
				  </div>
				  <div class="field">
				  </div>
				  <button class="ui button" type="submit">Submit</button>
				</form>
                    
				<h1 class="ui center aligned header" style="padding-top:6%">Tambah Syarat</h1>
				
                <div class="ui text container" >
                        <form class="ui form" method="post" action="{% url 'polls:cari'%}">
							{% csrf_token %}

                              <div class="field">
                                <label>Nama Mahasiswa/i</label>
                                <select class="ui search dropdown">
							{% if dropp %}
									<option value="">Ketik Nama</option>
                            {% for mahasiswa in dropp %}
                                    <option value="{{ mahasiswa.nama }}">{{ mahasiswa.nama }}</option>
                            {% endfor %}
                            {% else %}
                                  <option value="">Ketik Nama</option>
                                  <option value="AF">Harits ara</option>
                                  <option value="WF">Adi riz</option>
                                  <option value="EH">Jodhi Lesmana</option>
                                  <option value="YE">jonggi</option>
                                  <option value="ZM">ayam</option>
                                  <option value="ZW">Sapi</option>
							{% endif %}
							</select>
                            </div>


                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                  <input type="checkbox" tabindex="0" class="hidden">
                                  <label>Skripsi</label>
                                </div>
                            </div>
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                  <input type="checkbox" tabindex="0" class="hidden">
                                  <label>Abstrak</label>
                                </div>
                            </div>
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                  <input type="checkbox" tabindex="0" class="hidden">
                                  <label>CD</label>
                                </div>
                            </div>
                            <div class="inline field">
                                <div class="ui toggle checkbox">
                                  <input type="checkbox" tabindex="0" class="hidden">
                                  <label>Buku Sumbangan</label>
                                </div>
                            </div>
                                <button class="ui teal button" type="submit">Cek Status</button>
                        </form>
                    </div>
    
    <script>
        $('.ui.checkbox')
          .checkbox()
        ;
        $('select.dropdown')
          .dropdown()
        ;
        $('.ui.accordion')
  .accordion()
;
		$('#example2').calendar({
  type: 'date'
});
    </script>
        </body>
    
    
    </html>
