<html>

{% load static %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
	<script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'semantic/semantic.min.js' %}"></script>
	<title> Tambah data</title>

</head>

<body>
	<div class="ui  container">
		<div class="ui  secondary pointing menu">
			<div class="header item">
				<h2>SIPerpus</h2>
			</div>
			<a class="item" href="/">
                    Home
                    </a>
			<a class="item" href="/cek_status">
                    Cek Status
                    </a>
			<a class="active item">
                    Tambah Skripsi
                    </a>
			<a class="item" href="/Peminjaman">
										Peminjaman Buku
										</a>
			<a class="item" href="/rekap_data">
                    Rekap Data
                    </a>
			<a class="item" href="/import_csv">
                    Import CSV
                    </a>
             <a class="item" href="/logout">
                        Logout
                    </a>
		</div>
	</div>

	{% if messages %}
	<div class="ui floating message">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			{% endfor %}
	</div>
	{% endif %}


	<h1 class="ui center aligned header">Tambah Data</h1>

	<div class="ui text container">
		<div class="ui center aligned container">
			<div class="ui large  buttons">
				<button class="ui button skripsi_btn" onclick="skripsi()">Skripsi</button>
				<div class="or"></div>
				<button class="ui button tesis_btn" onclick="tesis()">Tesis</button>
			</div>
		</div>

		<!--  -->

		<form class="ui form skripsi_form" method="POST" action="{% url 'polls:skripsi' %}">
			<h1 class="ui Left aligned header" style="padding-top:4%">Skripsi</h1> {% csrf_token %}
			<div class='fields'>
				<div class="thirteen wide field">
					<label>Nama</label>
					<input type="text" name="nama" placeholder="Nama" required>
				</div>
				<div class="three wide field">
					<label>NIM</label>
					<input type="text" name="nim" placeholder="NIM" required>
				</div>
			</div>
			<div class="field">
				<label>Judul(Indonesia)</label>
				<input type="text" name="IND" placeholder="IND" required>
			</div>
			<div class="field">
				<label>Judul(English)</label>
				<input type="text" name="ENG" placeholder="ENG" required>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Pembimbing</label>
					<input type="text" name="pembimbing" placeholder="Pembimbing" required>
				</div>
				<div class="field">
					<label>Penguji</label>
					<input type="text" name="penguji" placeholder="Penguji" required>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Tanggal Penyerahan</label>
					<input type="date" name="tanggal" placeholder="Bulan/Hari/Tahun" required>
				</div>
				<div class="field">
					<label>Tanggal Lulus</label>
					<input type="date" name="lulus" placeholder="Bulan/Hari/Tahun" required>
				</div>
			</div>
			<div class="field">
			</div>
			<button class="ui teal button" type="submit">Submit</button>
			<div class="ui error message"></div>
		</form>


		<form class="ui form tesis_form" method="POST" action="{% url 'polls:tesis' %}">
			<h1 class="ui Left aligned header" style="padding-top:4%">Tesis</h1> {% csrf_token %}
			<div class="fields">
				<div class="eleven wide field">
					<label>Nama</label>
					<input type="text" name="nama1" placeholder="Nama" required>
				</div>
				<div class="three wide field">
					<label>NIM</label>
					<input type="text" name="nim1" placeholder="NIM" required>
				</div>
				<div class="two wide field">
					<label>PS</label>
					<input type="text" name="ps" placeholder="PS" required>
				</div>
			</div>
			<div class="field">
				<label>Judul(Indonesia)</label>
				<input type="text" name="IND1" placeholder="IND" required>
			</div>
			<div class="field">
				<label>Judul(English)</label>
				<input type="text" name="ENG1" placeholder="ENG" required>
			</div>


			<div class="two fields">
				<div class="field">
					<label>Pembimbing</label>
					<input type="text" name="pembimbing1" placeholder="Pembimbing" required>
				</div>
				<div class="field">
					<label>Penguji</label>
					<input type="text" name="penguji1" placeholder="Penguji" required>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Tanggal Penyerahan</label>
					<input type="date" name="tanggal1" placeholder="Bulan/Hari/Tahun" required>
				</div>
				<div class="field">
					<label>Tanggal Lulus</label>
					<input type="date" name="lulus1" placeholder="Bulan/Hari/Tahun" required>
				</div>
			</div>
			<div class="field">
			</div>
			<button class="ui teal button" type="submit">Submit</button>
			<div class="ui error message"></div>
		</form>

	</div>

	<script>
		skripsi();
		$(".skripsi_btn").toggleClass('positive');

		$('.ui.checkbox')
			.checkbox();
		$('select.dropdown')
			.dropdown();
		$('.ui.accordion')
			.accordion();
		$('.ui.form')
			.form({
				name: {
					identifier: 'nim',
					rules: [{
						type: 'regExp[^[a-kA-K][0-9]{7}[0-9]+$]',
						prompt: 'format NIM tidak valid'
					}]
				},
				name1: {
					identifier: 'nim1',
					rules: [{
						type: 'regExp[^[a-kA-K][0-9]{7}[0-9]+$]',
						prompt: 'format NIM tidak valid'
					}]
				},
				tanggal: {
					identifier: 'tanggal',
					rules: [{
						type: 'empty',
						prompt: 'format tanggal tidak valid'
					}]
				},
				tanggal: {
					identifier: 'tanggal1',
					rules: [{
						type: 'empty',
						prompt: 'format tanggal tidak valid'
					}]
				},
				lulus: {
					identifier: 'lulus',
					rules: [{
						type: 'empty',
						prompt: 'format tanggal tidak valid'
					}]
				},
				lulus1: {
					identifier: 'lulus1',
					rules: [{
						type: 'empty',
						prompt: 'format tanggal tidak valid'
					}]
				},
			});
		$('#example2').calendar({
			type: 'date'
		});

		function tesis() {
			$(".skripsi_form").hide();
			$(".tesis_form").show();
			if ($(".skripsi_btn").hasClass('positive')) {
				$(".tesis_btn").toggleClass('positive');
				$(".skripsi_btn").toggleClass('positive');
			}
		}

		function skripsi() {
			$(".skripsi_form").show();
			$(".tesis_form").hide();
			$(".skripsi_btn").toggleClass('positive');
			$(".tesis_btn").toggleClass('positive');
			if ($(".tesis_btn").hasClass('positive')) {
				$(".tesis_btn").toggleClass('positive');
				$(".skripsi_btn").toggleClass('positive');
			}
		}
	</script>
</body>


</html>