<html>

{% load static %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
	<script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'semantic/semantic.min.js' %}"></script>
	<title>Hasil Cek</title>

</head>

<body>
	<div class="ui  container">
		<div class="ui  secondary pointing menu">
			<div class="header item">
				<h2>SIPerpus</h2>
			</div>
			<a class="item" href="/">
                    Home
                    </a>
			<a class="active item">
                    Cek Status
                    </a>
			<a class="item" href="/tambah_data">
                    Tambah Syarat
                    </a>
			<a class="item" href="/Peminjaman">
										Peminjaman Buku
										</a>
			<a class="item" href="/rekap_data">
                    Rekap Data
                    </a>
			<a class="item" href="/import_csv">
                        Import CSV
                    </a>
		</div>

		<h1 class="ui center aligned header" style="padding-top:6%;padding-bottom:2%">Cek Status Mahasiswa</h1>

		<div class="ui center aligned text container">
			<a href="/cek_status">Kembali</a> {% csrf_token %} {% if not searcheded %}
			<div class="ui warning message" style="padding-top:6%">
				<i class="close icon"></i>
				<div class="header">
					NIM tidak ditemukan
				</div>
				<p><a href="/tambah_data">Anda bisa menambahkan data di sini</a></p>
			</div>

			<!-- Tabel Mahasiswa-->

			{% endif %} {% for g in searcheded %}

			<table class="ui very basic collapsing celled center aligned table" style="padding-top:6%">
				<thead>
					<tr>
						<th>Nama</th>
						<th>NIM</th>
						{% if tesis%}
						<th>Tesis</th>
						{% else %}
						<th>Skripsi</th>
						{% endif %}
						<th>Abstrak</th>
						<th>CD</th>
						<th>Buku Sumbangan</th>
					</tr>
				</thead>
		</div>
		<tbody>
			<tr>
				<td>
					<h4 class="ui image header">
        <div class="content">
          {{g}}
        </div>
    </h4>
				</td>
				<td>
					<div class="content">
						{{g.NIM}}
					</div>
				</td>
				<td class="center aligned">
					{% if tesis%}
					<div class="content">
						{{tesis}}
					</div>
					{% elif skripsi%}
					<div class="content">
						{{skripsi}}
					</div>
					{% else %}
					<i class="large red remove icon"></i> {% endif %}
					<!--<i class="large green checkmark icon"></i>-->
				</td>
				<!-- SKripsi -->

				<td class="center aligned">
					<!-- <i class="large green checkmark icon"></i>-->
					{% if pna != 1 %}
					<div class="content">
						<i class="large red remove icon">
					</div>
					{% else %}
					<i class="large green checkmark icon"></i> {% endif %}
				</td>
				<!-- abstrak -->

				<td class="center aligned">
					<!--<i class="large green checkmark icon"></i>-->
					{% if pnc != 1 %}
					<div class="content">
						<i class="large red remove icon">
					</div>
					{% else %}
					<i class="large green checkmark icon"></i> {% endif %}
					</div>
				</td>
				<!-- cd -->

				<td class="center aligned">
					{% if buku%}
					<div class="content">
						{{buku}}
					</div>
					{% else %}
					<i>Belum</i> {% endif %}
				</td>
				<!-- buku sumbangan -->
			</tr>
		</tbody>
		</table>

		{% if jm %}

		<table>
			<thead>
				<tr>
					<th>Judul</th>
					<th>Barcode</th>
					<th>No. Hp</th>
					<th>Pengarang</th>
					<th>Tanggal Pinjam</th>
					<th>Tanggal Kembali Seharusnya</th>
				</tr>
			</thead>
			{% for pinjam in jm %}
			<tbody>
				<tr>
					<td>
						<div class="content">
							{{pinjam.judul}}
						</div>
					</td>
					<td>
						<div class="content">
							{{pinjam.barcode}}
						</div>
					</td>
					<td>
						<div class="content">
							{{pinjam.phone}}
						</div>
					</td>
					<td>
						<div class="content">
							{{pinjam.pengarang}}
						</div>
					</td>
					<td>
						<div class="content">
							{{pinjam.tanggal_pinjam}}
						</div>
					</td>
					<td>
						<div class="content">
							{{pinjam.tanggal_kembali}}
						</div>
					</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
		{% endif %}

		<!-- Tabel Mahasiswa ends here -->

		<h2><a href="#">Edit entri</a></h2>

		</br>
		<!-- Form CD Abstrak -->
		{% if pnc != 1 %}
		<h3><a href="#">Mahasiswa sudah menyerahkan CD?</a></h3>
		<form action="{% url 'polls:cdyn' nim=g.NIM %}" method="post">
			{% csrf_token %}
			<input type="radio" name="cd" value="y" required/> Ya
			<input type="radio" name="cd" value="n" /> Tidak
			<button class="ui button" type="submit">Submit</button>
		</form>
		</br>
		{% endif %} {% if pna != 1 %}
		<h3><a href="#">Mahasiswa sudah menyerahkan Abstrak?</a></h3>
		<form action="{% url 'polls:abstrakyn' nim=g.NIM %}" method="post">
			{% csrf_token %}
			<input type="radio" name="abs" value="y" required/> Ya
			<input type="radio" name="abs" value="n" /> Tidak
			<button class="ui button" type="submit">Submit</button>
		</form>
		{% endif %}
		<!-- Form CD Abstrak ends here -->

		<!-- Form Buku Sumbangan -->

		<h1 class="ui Left aligned header" style="padding-top:6%">Buku Sumbangan</h1>
		<form class="ui form" method="POST" action="{% url 'polls:buku_sumbangan' nim=g.NIM %}">
			{% csrf_token %}
			<div class="field">
				<label>Judul</label>
				<input type="text" name="judul" placeholder="Judul" required>
			</div>
			<div class="field">
				<label>Penulis</label>
				<input type="text" name="penulis" placeholder="Penulis" required>
			</div>
			<div class="field">
				<label>Tahun Keluaran</label>
				<input type="text" name="tahun" placeholder="Tahun(4 angka)" required>
			</div>
			<button class="ui button" type="submit">Submit</button>
		</form>

		<!-- Form Buku Sumbangan ends here-->

		{% endfor %}
		</div>
		<script>
			$('.message .close')
				.on('click', function() {
					$(this)
						.closest('.message')
						.transition('fade');
				});

			$('.ui.form')
				.form({
					fields: {
						name: {
							identifier: 'tah',
							rules: [{
								type: 'regExp[^[0-9]{4}$]',
								prompt: 'format NIM tidak valid'
							}]
						},

					}
				});
		</script>
</body>


</html>