<html>
	
	{% load static %}
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
            <script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
            <script src="{% static 'semantic/semantic.min.js' %}"></script>
            <title>Hasil Cek</title>
    
        </head>
            
        <body>
            <div class="ui  container">
                <div class="ui  secondary pointing menu">
                    <div class="header item">
                        <h2>SIPerpus</h2>
                    </div>
                    <a class="item" href="home.html">
                    Home
                    </a>
                    <a class="active item">
                    Cek Status
                    </a>
                    <a class="item">
                    Tambah Syarat
                    </a>
                    <a class="item">
                        Rekap Data
                    </a>
                    <a class="item">
                        Import CSV
                    </a>
                </div>
                </div>

                <h1 class="ui center aligned header" style="padding-top:6%">Cek Status Mahasiswa</h1>

				{% csrf_token %}
				<table>
					
					<tr>
                                    <td>Not Found</td>
                    </tr>
                {% for g in searcheded %}
                                <tr>
                                    <td>{{ g }}</td>
                                </tr>
                 {% endfor %}
                 </table>
    
        </body>
    
    
    </html>
