<html>

{% load static %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
	<script src="{% static 'jquery/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'semantic/semantic.min.js' %}"></script>
	<title>Hasil Cek</title>

</head>

<body>
	<div class="ui  container">
		<div class="ui  secondary pointing menu">
			<div class="header item">
				<h2>SIPerpus</h2>
			</div>
			<a class="item" href="/">
                    Home
                    </a>
			<a class="active item">
                    Cek Status
                    </a>
			<a class="item" href="/tambah_data">
                    Tambah Syarat
                    </a>
			<a class="item" href="/Peminjaman">
										Peminjaman Buku
										</a>
			<a class="item" href="/rekap_data">
                    Rekap Data
                    </a>
			<a class="item" href="/import_csv">
                        Import CSV
                    </a>
             <a class="item" href="/logout">
                        Logout
                    </a>
		</div>

		{% if messages %}
		<div class="ui floating message">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
				{% endfor %}
		</div>
		{% endif %}

		<h1 class="ui center aligned header" style="padding-bottom:2%">Cek Status Mahasiswa</h1>

		<div class="ui  text container">
			{% csrf_token %} {% if not searcheded %}
			<div class="ui warning message" style="padding-top:6%">
				<i class="close icon"></i>
				<div class="header">
					NIM tidak ditemukan
				</div>
			</div>


			<h2 class="ui Left aligned header" style="padding-top:6%">Tambah Data Mahasiswa</h2>
			<form class="ui form" method="POST" action="{% url 'polls:datamh' nim=nimb %}">
				{% csrf_token %}
				<div class="Nama">
					<label>Nama</label>
					<input type="text" name="nama" placeholder="Nama Mahasiswa" required>
				</div>
				<div class="field">
					<label>NIM</label>
					<input type="text" name="nim" placeholder="NIM" value="{{nimb}}" required>
				</div>
				<button class="ui button" type="submit">Submit</button>
			</form>


			<!-- Tabel Mahasiswa-->


			{% endif %} {% for g in searcheded %}
			<h3 class='ui brown header'>Informasi Mahasiswa</h3>
			<table class="ui  celled center aligned table">
				<thead>
					<tr>
						<th>Nama</th>
						<th>NIM</th>
						<th>Skripsi</th>
						<th>Tesis</th>
						<th>Abstrak</th>
						<th>CD</th>
						<th>Buku Sumbangan</th>
					</tr>
				</thead>
		</div>
		<tbody>
			<tr>
				<td>
					<h4 class="ui image header">
        <div class="content">
          {{g}}
        </div>
    </h4>
				</td>
				<td>
					<div class="content">
						{{g.NIM}}
					</div>
				</td>
				<td class="center aligned">
					{% if skripsi%}
					<div class="content">
						{{skripsi}}
					</div>
					{% else %}
					<i class="large red remove icon" onclick="location.href='/tambah_data/'"></i> {% endif %}
				</td>
				<td>
					{% if tesis%}
					<div class="content">
						{{tesis}}
					</div>
					{% else %}
					<i class="large red remove icon" onclick="location.href='/tambah_data/'"></i> {% endif %}
					<!--<i class="large green checkmark icon"></i>-->
				</td>
				<!-- SKripsi -->

				<td class="center aligned">
					<!-- <i class="large green checkmark icon"></i>-->
					{% if pna != 1 %}
					<!-- <div class="content"> -->
					<i class="large red remove icon" onclick="location.href='/cek_status/{{g.NIM}}/1/abstrak/'">
					<!-- </div> -->
					{% else %}
					<i class="large green checkmark icon" onclick="location.href='/cek_status/{{g.NIM}}/0/abstrak/'"></i> {% endif %}
				</td>
				<!-- abstrak -->

				<td class="center aligned">
					<!--<i class="large green checkmark icon"></i>-->
					{% if pnc != 1 %}
					<!-- <div class="content"> -->
					<i class="large red remove icon" onclick="location.href='/cek_status/{{g.NIM}}/1/cd/'">
					<!-- </div> -->
					{% else %}
					<i class="large green checkmark icon" onclick="location.href='/cek_status/{{g.NIM}}/0/cd/'"></i> {% endif %}
	</div>
	</td>
	<!-- cd -->

	<td class="center aligned">
		{% if buku%}
		<div class="content">
			{{buku}}
		</div>
		{% else %}
		<i>Belum</i> {% endif %}
	</td>
	<!-- buku sumbangan -->
	</tr>
	</tbody>
	</table>

	{% if jm %}


	<h3 class='ui brown header' style="padding-top: 2%">Informasi Peminjaman</h3>
	<table class="ui   celled center aligned table">
		<thead>
			<tr>
				<th>Judul</th>
				<th>Barcode</th>
				<th>No. Hp</th>
				<th>Pengarang</th>
				<th>Tanggal Pinjam</th>
				<th>Tanggal Kembali Seharusnya</th>
			</tr>
		</thead>

		<tbody>
			{% for pinjam in jm %}
			<tr>
				<td>
					<div class="content">
						{{pinjam.judul}}
					</div>
				</td>
				<td>
					<div class="content">
						{{pinjam.barcode}}
					</div>
				</td>
				<td>
					<div class="content">
						{{pinjam.phone}}
					</div>
				</td>
				<td>
					<div class="content">
						{{pinjam.pengarang}}
					</div>
				</td>
				<td>
					<div class="content">
						{{pinjam.tanggal_pinjam.date}}
					</div>
				</td>
				<td>
					<div class="content">
						{{pinjam.tanggal_kembali.date}}
					</div>
				</td>
				{% if pinjam.status == 0 %}
				<td>
					<form method="POST" action="{% url 'polls:sudah_mengembalikan' nim=g.NIM id=pinjam.id %}">
						{% csrf_token %}
						<button class="ui button" type="submit">tandai sudah mengembalikan</button>
					</form>
				</td>
				{% else %}
				<td class="positive">
					<div class="content">
						<i class="icon green checkmark"></i> sudah mengembalikan
					</div>
				</td>
				{% endif %}
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% endif %}

	<!-- Tabel Mahasiswa ends here -->

	<!-- <h2><a href="#">Edit entri</a></h2> -->
	<button class="ui blue button" onclick="fungsi()">Edit Entri</button>

	<div id="div_aku">
		</br>

		<h3><a href="#">Mahasiswa sudah menyerahkan Abstrak?</a></h3>
		<form action="{% url 'polls:abstrakyn' nim=g.NIM %}" method="post">
			{% csrf_token %}
			<input type="radio" name="abs" value="y" required/> Ya
			<input type="radio" name="abs" value="n" /> Tidak
			<button class="ui button" type="submit">Submit</button>
		</form>

		<!-- Form CD Abstrak -->

		<h3><a href="#">Mahasiswa sudah menyerahkan CD?</a></h3>
		<form action="{% url 'polls:cdyn' nim=g.NIM %}" method="post">
			{% csrf_token %}
			<input type="radio" name="cd" value="y" required/> Ya
			<input type="radio" name="cd" value="n" /> Tidak
			<button class="ui button" type="submit">Submit</button>
		</form>
		</br>

		<!-- Form CD Abstrak ends here -->

		<!-- Form Buku Sumbangan -->

		<h1 class="ui Left aligned header" style="padding-top:6%">Buku Sumbangan</h1>
		<form class="ui form" method="POST" action="{% url 'polls:buku_sumbangan' nim=g.NIM %}">
			{% csrf_token %}
			<div class="field">
				<label>Judul</label>
				<input type="text" name="judul" placeholder="Judul" required>
			</div>
			<div class="field">
				<label>Penulis</label>
				<input type="text" name="penulis" placeholder="Penulis" required>
			</div>
			<div class="field">
				<label>Tahun Keluaran</label>
				<input type="number" name="tahun" placeholder="Tahun(4 angka)" required min="1700" max="2200">
			</div>
			<button class="ui button" type="submit">Submit</button>
		</form>
	</div>

	<!-- Form Buku Sumbangan ends here-->

	<script>
		fungsi();
		fungus();

		function fungsi() {
			var x = document.getElementById("div_aku");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}

		function fungus() {
			var y = document.getElementById("bikin_baru");
			if (y.style.display === "none") {
				y.style.display = "block";
			} else {
				y.style.display = "none";
			}
		}
	</script>

	{% endfor %}
	</div>
	<script>
		$('.message .close')
			.on('click', function() {
				$(this)
					.closest('.message')
					.transition('fade');
			});

		$('.ui.form')
			.form({
				fields: {
					name: {
						identifier: 'nim',
						rules: [{
							type: 'regExp[^[a-kA-K][0-9]{8,9}$]',
							prompt: 'format NIM tidak valid'
						}]
					},

				}
			});
	</script>
</body>


</html>